<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <script defer asp-append-version="true" src="~/js/script.js"></script>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>
