body {
}

.container {
    max-width: 1200px;
    width: 100%;
    margin:auto;
}
h2 {
    text-align:center;
}
.clients {
    display:flex;
    justify-content: space-around;
}
textarea {
    width: 200px;
    height: 200px;
    resize: none;
}

button {
    
}