@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chat";
}

<div>
    <div class="container">
        <div class="fields">
            <h2>Тест пользователей</h2>
            <div class="clients">
                <div class="client">
                    <h3>Пользователь 1</h3>
                    <div class="client-field">
                        <input type="text" placeholder="Введите текст" value="" />
                        <button disabled>Отправить</button>
                    </div>
                </div>
                <div class="client">
                    <h3>Пользователь 2</h3>
                    <div class="client-field">
                        <textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>